<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuraMatrix - Team</title>
    <link rel="stylesheet" href="./stylesheets/aboutUs.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="./images/Group 10.svg" type="image/x-icon">

</head>

<body>
    <div class="logo">
        <h2>AuraMatrix</h2>
        <span><i><q>Discover the world within you</q></i><br></span>
    </div>
    <div class="team-container">
        <div class="team-member">
            <div class="member-photo">
                <img src="./images/riddhi.jpeg" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Riddhi Pandya</h3>
                <p class="designation">Visionary</p>
                <div class="details-grid">
                    <span class="detail">Field</span><span>Information Technology</span>
                    <span class="detail">Year</span><span>3rd Year</span>
                    <span class="detail">College</span><span>ADIT(CVMU)</span>
                </div>
                <div class="personality-type-container">
                    <span class="personality-type">Protagonist ( ENFJ )</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="./images/harsh.jpeg" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Harsh Patel</h3>
                <p class="designation">Tech Lead</p>
                <div class="details-grid">
                    <span class="detail">Field</span><span>Information Technology</span>
                    <span class="detail">Year</span><span>3rd Year</span>
                    <span class="detail">College</span><span>ADIT(CVMU)</span>
                </div>
                <div class="personality-type-container">
                    <span class="personality-type">Protagonist ( ENFJ )</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="./images/jay.png" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Jay Patel</h3>
                <p class="designation">Full-e-Stack Dev</p>
                <div class="details-grid">
                    <span class="detail">Field</span><span>Information Technology</span>
                    <span class="detail">Year</span><span>3rd Year</span>
                    <span class="detail">College</span><span>ADIT(CVMU)</span>
                </div>
                <div class="personality-type-container">
                    <span class="personality-type">Protagonist ( ENFJ )</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="./images/het-p.jpeg" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Het Patel</h3>
                <p class="designation">Backend Dev/ Project Manager</p>
                <div class="details-grid">
                    <span class="detail">Field</span><span>Information Technology</span>
                    <span class="detail">Year</span><span>3rd Year</span>
                    <span class="detail">College</span><span>ADIT(CVMU)</span>
                </div>
                <div class="personality-type-container">
                    <span class="personality-type">Protagonist ( ENFJ )</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="./images/het-d.jpg" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Het Dalal</h3>
                <p class="designation">Product Guide</p>
                <div class="details-grid">
                    <span class="detail">Field</span><span>Computer Science and Design</span>
                    <span class="detail">Year</span><span>3rd Year</span>
                    <span class="detail">College</span><span>ADIT(CVMU)</span>
                </div>
                <div class="personality-type-container">
                    <span class="personality-type">Protagonist ( ENFJ )</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="./images/maitri.jpeg" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Maitri Pandya</h3>
                <p class="designation">Testing Head</p>
                <div class="details-grid">
                    <span class="detail">Field</span><span>Information Technology</span>
                    <span class="detail">Year</span><span>3rd Year</span>
                    <span class="detail">College</span><span>ADIT(CVMU)</span>
                </div>
                <div class="personality-type-container">
                    <span class="personality-type">Defender ( ISFJ )</span>
                </div>
            </div>
        </div>
        <div class="team-member">
            <div class="member-photo">
                <img src="./images/krish.jpg" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Krish Parmar</h3>
                <p class="designation">Graphic Designer</p>
                <div class="details-grid">
                    <span class="detail">Field</span><span>Information Technology</span>
                    <span class="detail">Year</span><span>3rd Year</span>
                    <span class="detail">College</span><span>ADIT(CVMU)</span>
                </div>
                <div class="personality-type-container">
                    <span class="personality-type">Virtuoso ( ISFJ )</span>
                </div>
            </div>
        </div>
    </div>
    <a href="./result.html" class="back-button">Back to results</a>
</body>

</html>