<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuraMatrix-Team</title>
    <link rel="stylesheet" href="./stylesheets/aboutUs.css">
</head>

<body>
    <div class="logo">
        <h2>AuraMatrix</h2>
        <span><i><q>Discover world within you</q></i><br></span>
    </div>
    <div class="team-container">
        <div class="team-member">
            <div class="member-photo">
                <img src="https://via.placeholder.com/150" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Riddhi Pandya</h3>
                <p class="designation">Visionary</p>
                <div class="details-grid">
                    <span>Field:</span><span>Information Technology</span>
                    <span>Year:</span><span>3rd Year</span>
                    <span>College:</span><span>A. D. Patel Institute of Technology(CVMU)</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="https://via.placeholder.com/150" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Harsh Patel</h3>
                <p class="designation">Tech Lead/ Full Stack Dev.</p>
                <div class="details-grid">
                    <span>Field:</span><span>Information Technology</span>
                    <span>Year:</span><span>3rd Year</span>
                    <span>College:</span><span>A. D. Patel Institute of Technology(CVMU)</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="https://via.placeholder.com/150" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Jay Patel</h3>
                <p class="designation">Frontend Dev.</p>
                <div class="details-grid">
                    <span>Field:</span><span>Information Technology</span>
                    <span>Year:</span><span>3rd Year</span>
                    <span>College:</span><span>A. D. Patel Institute of Technology(CVMU)</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="https://via.placeholder.com/150" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Het Patel</h3>
                <p class="designation">Project Manager/ Backend Dev.</p>
                <div class="details-grid">
                    <span>Field:</span><span>Information Technology</span>
                    <span>Year:</span><span>3rd Year</span>
                    <span>College:</span><span>A. D. Patel Institute of Technology(CVMU)</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="https://via.placeholder.com/150" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Het Dalal</h3>
                <p class="designation">End-User Trainer</p>
                <div class="details-grid">
                    <span>Field:</span><span>Computer Science and Design</span>
                    <span>Year:</span><span>3rd Year</span>
                    <span>College:</span><span>A. D. Patel Institute of Technology(CVMU)</span>
                </div>
            </div>
        </div>

        <div class="team-member">
            <div class="member-photo">
                <img src="https://via.placeholder.com/150" alt="Team Member">
            </div>
            <div class="member-info">
                <h3 class="member-name">Maitri Pandya</h3>
                <p class="designation">Chief of Testing</p>
                <div class="details-grid">
                    <span>Field:</span><span>Information Technology</span>
                    <span>Year:</span><span>3rd Year</span>
                    <span>College:</span><span>A. D. Patel Institute of Technology(CVMU)</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>