<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuraMatrix-Personal Details</title>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="icon" href="./images/Group 10.svg" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="card-switch">
            <div class="flip-card__inner">
                <div class="flip-card__front">
                    <h2 class="title">Fill Details</h2>
                    <form class="flip-card__form" action="">
                        <div class="input-group">
                            <input class="flip-card__input" name="fname" placeholder="First Name" type="text" required>
                        </div>
                        <div class="input-group">
                            <input class="flip-card__input" name="lname" placeholder="Last Name" type="text" required>
                        </div>
                        <div class="radio-group">
                            <p class="radio-label">Gender</p>
                            <div class="radio-options">
                                <div class="radio-option">
                                    <input type="radio" id="male" name="gender" value="male" required>
                                    <label for="male">Male</label>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" id="female" name="gender" value="female">
                                    <label for="female">Female</label>
                                </div>
                                <div class="radio-option">
                                    <input type="radio" id="trans" name="gender" value="trans">
                                    <label for="others">Others</label>
                                </div>
                            </div>
                        </div>
                        <button class="flip-card__btn">Let's go!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="./frontend-scripts/index.js"></script>
</body>

</html>